<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}"
      class="no-js page-border"
      itemscope="itemscope"
      itemtype="http://schema.org/WebPage">

    {% include head.html %}

    <body class="home singular page page-id-295 page-template-default hide-background menu-separators animate-elems-in-view has-sticky-header featured-header-full wpb-js-composer js-comp-ver-4.8.0.1 vc_responsive">

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    </body>

</html>
